body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fon.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* весь блок с авторизацией */
.login-container {
    background: transparent; /* Сделать фон полностью прозрачным */
    backdrop-filter: blur(5px); /* Размытие фона */
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    position: absolute; /* Фиксированное позиционирование */
    top: 50%; /* Разместить блок по вертикали на середине экрана */
    left: 50%; /* Разместить блок по горизонтали на середине экрана */
    transform: translate(-50%, -50%); /* Центрирование блока по центру экрана */

}
@media (max-width: 768px) {
    .login-container {
        width: 300px; /* Сохранить ширину блока для мобильных устройств */
    }
}

.input-container {
    margin: 10px 0;
    position: relative;
    
}
/*Надписи*/
.form-title { /*Login*/
    margin: 0;
    font-weight: bold;
    font-size: 190%;
    color: #ffffff;
    margin-bottom: 13%;
    margin-top: 7%;
}

/* поля ввода*/
label {
    position: absolute;
    top: 20%;
    left: 5%;
    pointer-events: none;
    color: #e9e9e9;
    transition: 0.3s ease;
    opacity: 1;
}

input {
    padding: 3%;
    width: 100%;
    background: transparent; /* Сделать фон полностью прозрачным */
    border-radius: 40px;
    border: 2px solid #e9e9e9;
    color:#f4f4f4;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #f4f4f4;
}

input:focus + label,
input:valid + label {
    top: -10px;
    left: 10px;
    font-size: 10%;
    opacity: 0;
    transition: 0.3s ease;
}

/* кнопка */
#login-button {
    margin-top: 5%;
    border-radius: 40px;
    border: 2px solid #ccc;
    outline: none;
    background: #ffffff;
    font-size: 130%;
    color: black;
    margin-bottom: 13%;
}