body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  button {
    margin: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .validation-error {
    color: red;
    font-size: 12px;
    margin-left: 5px; /* Добавим небольшой отступ слева */
    display: inline-block; /* Сделаем сообщение блочным элементом, чтобы оно отображалось справа */
  }

  .hidden {
    display: none;
  }